{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>LOGIN</h1>
  <p>Please complete the form below and click sign up.</p>
  <form method="POST">

      {{ form.hidden_tag() }}
	  {{ form.first_name.label  }} {{ form.first_name() }}
	  {{ form.last_name.label }} {{ form.last_name() }}
      {{ form.email.label }} {{ form.email }}
      {{ form.submit() }}
  </form>
  <p class="text-info">Don't have an account? Click <a class="text-primary" href="{{ url_for('add_user') }}">here</a>.</p>
</div>
{% endblock %}
